

.link {
  text-align: center;
  font-size: 16px;
  font-style: normal;
}

.link a {
  text-decoration: none;
}

.link .form-text {
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.7);
}

.login-form {
  width: 30%;
  margin: auto;
  margin-top: 15%;
}

.logo {
  height: 23px;
  margin: 15px 15px 15px 70px;
  text-align: center;
}

.login-error {
  color: #f00;
  margin-top: 10px;
  text-align: center;
}

.login-container {
  position: relative;
  /* Ajoutez ce style pour le conteneur du sélecteur de langue */
  .language-selector-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  /* Assurez-vous que le logo a une marge en bas */
  .logo {
    margin-bottom: 10px;
  }
}

/* Alignement à droite dans le formulaire */
.language-selector.login-mode.right-align {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.login-form .lang-btn {
  padding: 2px 6px;
  font-size: 11px;
  border-radius: 4px;
}

